In [1]:
# class 7
# operators
#+ addition, - sub, * mult, / Div, // floor div, ** power, % modulus
5+7

12

In [2]:
# + cancatinate 2 str
"abdur"+"rashid"

'abdurrashid'

In [4]:
# extend lists
('1','2')+('3'+'4')

TypeError: can only concatenate tuple (not "str") to tuple

In [5]:
# -
20-8

12

In [6]:
25.9-7.6

18.299999999999997

In [7]:
# *
3*2

6

In [8]:

"A"*3

'AAA'

In [9]:
# **
2**3

8

In [10]:
# /
12/3

4.0

In [11]:
12/3.0

4.0

In [12]:
# // take only whole number
13//3

4

In [13]:
# % modulus is remaining value
18%5

3

In [ ]:
# comparison (relational) operator
== equal
> greater then
< less then
>= greater then equal
<= less then equal
!= not equal
<> not equal

In [14]:
"rashid"=="Rashid"

False

In [15]:
"qasim"=="qasim"

True

In [18]:
2==2.0

True

In [17]:
a=2
b=2
a==b

True

In [19]:
# >
6>2

True

In [20]:
7>10

False

In [21]:
10>10

False

In [22]:
# >=
10>=10

True

In [23]:
"A">"B"

False

In [24]:
"B">"A"

True

In [25]:
# ASCII 65=A  --> 90=Z
,.#97=a-->122=z
#48=0-->57=9
chr(65)

'A'

In [27]:
ord("A")

65

In [28]:
chr(122)

'z'

In [29]:
chr(48)

'0'

In [32]:
chr('B') > chr('A')

TypeError: an integer is required (got type str)

In [33]:
# <=
2<=3

True

In [38]:
# != 
"rashid"!="Rashid"

True

In [39]:
# <> used for not equal in other laguages
"Rashid" <> "rashid"

SyntaxError: invalid syntax (<ipython-input-39-77e6fddc5798>, line 2)

In [ ]:
#Assignment Operator
=
+=

In [42]:
a = 5 
a = 6
a = 7 
a = 8 # overwrite old one and show latest
print(a)

8

In [45]:
a = 1
a += 2 # a=a+2
a += 3  # a=a+3
a += 4  # a=a+4
print(a)

10

In [46]:
a = 100
a -= 2 # a=a-2
a -= 3  # a=a-3
a -= 4  # a=a-4
print(a)

91

In [47]:
a = 1
a *= 2 # a=a*2
a *= 3  # a=a*3
a *= 4  # a=a*4
print(a)

24

In [48]:
a = 100
a /= 2 # a=a/2
a /= 2  # a=a/2
a /= 2  # a=a/4
print(a)

12.5

In [50]:
a = 2
a **= 2 # a=a**2
a **= 3 # a=a**3
print(a)

64

In [51]:
# mod
a = 21
a %= 2 # a=a%2

print(a)

1

In [53]:
a="A"
a*=3
print(a)

AAA

In [54]:
# canatination 
a="A"
a+="B"
a+="C"
print(a)

ABC

# #LOGIcal Operators

and = &
or = |
not !=, <>

In [56]:
user="rashid"
password=123
print(user=="rashid")
print(password==123)

True
True

In [58]:
user="rashid"
password=123
print(user=="rashid" and password==123)

True

In [59]:
True and True and True

True

In [60]:
True and False and True

False

In [62]:
a="A"
b="B"
c="C"
d="D"
print((a=="A") & (b=="B") & (c=="C") & (d=="D"))

True

In [63]:
True or True or True

True

In [66]:
True or False or True

True

In [67]:
True | False | True

True

In [ ]:
user = input("User name")
password = input("password")
user=="qasim" or \
user=="admin" or \
user=="abc" and \
password=="123"

In [ ]:
print(not(True))

# Bitwise Operator

8,  7,  6,  5,  4,  3,  2,  1,  0
2,  2,  2,  2,  2,  2,  2,  2,  2
==================================
256,128,64, 32, 16, 8,  4,  2,  1

Example:
convert 10011 to decimal

from right side
1   1
1   2
0   16
0   32
1   64


ans is 67


Example: bit wise and
 
 11101=29
 11100=28
 
 11101
 11100
 -------
 11100  =  28

In [1]:
28 & 29

28

In [2]:
28 | 29

29

XOR
11101
11100
-------
00001 = 1

In [3]:
28 ^ 29

1

left shift and right shift
11101
29<<2
1110100

11101
29>>2
00111

In [4]:
29<<2

116

In [5]:
29>>2

7

11001 =25
1100100 = 100
00110 = 6

In [6]:
25<<2

100

In [7]:
25>>2

6

# Membership operator

In [14]:
# in is called membership operator
names = ['qasim', 'hamza', 'junaid', 'abid']
for name in names:
    if name=='qasim':
        print(True)

True

In [15]:
"qasim" in names

True

In [16]:
sentence = input("please write a sentence")
"pakistan" in sentence

please write a sentencei love pakistan

True

# identity operator

In [17]:
a = '5'
b=5
c=a
print(a==b)
print(a==c)

False
True

# control flow
- if, else elif

if logic:
    code run if logic true
else:
    code run if logic false

In [20]:
if True:
    print("pakistan")
    print("pakistan")

else:
    print("zinda bad")

pakistan
pakistan

In [ ]:
# comprehensive block
True_block if logic else false_block

In [21]:
"pakistan" if True else "zinda bad"

'pakistan'

In [44]:
user= input("user name")
email= input("email")
id= input("id")
password= input("password")

if (user== "rashid" or email =="eltengr08@hotmail.com" or id =="abc" and password=='123'):
    print("valid user")
else:
    print("invalid user")

user name
email
id
password
invalid user